.nav-link{
    color: var(--secondary-color);
}
.logo{
    height: 11vh;
    border-radius: 5%;
}
.navbar-toggler{
    border: none;
    color: black;
}
.navbar-toggler:focus{
    box-shadow: none;
    outline: none;
}

.navbar-brand{
    padding-left: 10%;
    padding-right: 15%;
}
span h6{
    color: var(--primary-color);
}
.navtwono{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navicons{
    color: var(--primary-color);
    margin-right:10px ;
}
.dropdown-menu{
    background-color: #453F78;
    color: var(--secondary-color);
    }
a{
    color: var(--secondary-color);
}
.dropdown:hover .dropdown-menu{
display: block;
}
@media only screen and (max-width: 600px) {
    .navtwono{
        position: absolute;
       display: inline-flex;
       right: 0%;
        align-items: center;
        margin-right: -42%;
       justify-content: end;
    }
    .navicons{
        display: none;
    }
    .navbar-brand{
        padding-left: 25%;
        padding-right: 1%;
    }
  }

  @media only screen and (max-width: 350px) {
    .navbar-brand{
        padding-left: 0%;
        padding-right: 0%;
    }
  }
  
